h1 {
    text-align: center;
    background-color: rgba(65, 105, 225, 0.9);
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50px;
    margin-top: 90px;
    box-shadow: 4px 4px 15px #0066ff;
    background-image: linear-gradient(to right, rgba(0, 47, 255, 0.9), rgb(0, 217, 255, 0.9));
}
h2 {
    margin-left: 40px;
    text-transform: capitalize;
}
body {
    background: url(ice.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

#container {
    background-color: rgba(240, 255, 255, 0.651);
    margin: 15px;
    padding: 30px;

}

#times {
    text-align: center;
    background-color: rgba(240, 255, 255, 0.651);
    margin: 15px;
    padding: 30px;

}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;

}

th {
    background-color: rgba(0, 153, 255, 0.938);
}

.button {
    background-color: rgba(238, 255, 0, 0.952);
    padding: 10px;
    border-radius: 25px;
    color: black;
    text-decoration: none;
    margin-left: 30px;
    transition: padding 2s, border-radius 2s, background-color 2s;
}

.button:hover {
    background-color:rgba(184, 241, 117, 0.904) ;
    box-shadow: 2px 2px 5px blue;
    padding: 40px;
    border-radius: 65px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 153, 255, 0.938);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    padding: 15px 40px;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li a:hover {
    background-color: rgba(0, 26, 255, 0.89);
    color: white;
    box-shadow: 7px 7px 5px rgba(21, 92, 224, 0.877);
}

h4 {
    background-color: aqua;
    padding: 20px;
    text-align: center;
    color: black;
    margin-left: 38%;
    margin-right: 38%;
    border-radius: 50px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    font-size: 130%;
    font-family: sans-serif;
    animation-name: camps;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes camps {
    from{background-color: rgba(0, 255, 255, 0.904);}
    to{background-color: rgba(33, 55, 253, 0.904);}
}

img {
    box-shadow: 3px 3px 5px black;
    margin: 15px;
}

ol {
    list-style-type: upper-alpha;
}

.nounderline {
    text-decoration: none;
}